<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
	">
	
	<!-- 配置mybatis的SqlSessionFactory -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
	<!-- 数据源 -->
		<property name="dataSource" ref="dataSource"></property>
	<!-- 加载mybatis的配置文件 -->	
		<property name="configLocation" value="classpath:public/MapperConfig.xml"></property>
	</bean>

	<!-- 动态Mapper方式开发 ：扫描包方式 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.tang.dao"></property>
	</bean>
</beans>	